<div class="container">
    <h1 class="text-center">Agende uma transferência</h1>
    <form [formGroup]="form">
        <div class="mb-3 row">
            <label for="origin" class="col-sm-2 col-form-label">Conta Origem*</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="000000" formControlName="origin" id="origin" [mask]="'000000'">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="destination" class="col-sm-2 col-form-label">Conta Destino*</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="000000" formControlName="destination" id="destination"
                    [mask]="'000000'">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="value" class="col-sm-2 col-form-label">Valor($)*</label>
            <div class="col-sm-10">
                <input (input)="calculateFee()" class="form-control" formControlName="value" id="value" mask="separator.2" thousandSeparator=" ">
            </div>
        </div>
        <div class="mb-3 row">

            <mat-form-field [ngStyle]="{'width':'100%'}" appearance="fill" form>
                <mat-label>Data agendada</mat-label>
                <input (dateChange)="calculateFee()" (input)="calculateFee()" [min]="minDate" matInput [matDatepicker]="picker" formControlName="scheduledDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="accent"></mat-datepicker>
            </mat-form-field>

        </div>

        <div class="mb-3 row">
            <label for="fee" class="col-sm-2 col-form-label">Valor da taxa</label>
            <div class="col-sm-10">
                <input class="form-control" readonly formControlName="fee" id="fee" mask="separator.2" thousandSeparator=" ">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="total" class="col-sm-2 col-form-label">Valor total</label>
            <div class="col-sm-10">
                <input class="form-control" readonly formControlName="total" id="total" mask="separator.2" thousandSeparator=" ">
            </div>
        </div> 

        <div class="alert alert-success" role="alert" *ngIf="success">
            Agendamento feito com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="fail">
            {{failMessage}}
        </div>
        <button type="submit" mat-raised-button (click)="formHandler()">
            Agendar
        </button>

    </form>
</div>